*,
*:after,
*::before {
	.box-sizing(border-box);
}

body {
	background: @blue-dark;
	font-family: 'Open Sans', Arial, sans-serif;
}

.nav-icon:before {
	font-family: 'noat';
	margin: 0;
	speak: none;
	width: 20px;
}

@media screen and (max-width: 740px) {
	.nav-icon span {
		display: none;
	}
}

/*** COMPONENTS ***/

.menu-main, .menu-main ul {
	margin: 0;
	padding: 0;
	background: white;
	font-weight: 300;
	line-height: 60px;
}

.menu-main {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 60px;
	font-size: 18px;
}

.menu-main a {
	display: block;
	color: @cobalt;
	text-decoration: none;
	cursor: pointer;
}

a.no-select {
	cursor: default;
}

.menu a {
	padding-left: 5px;
}

.menu-main a.sidenav-note {
	width: 100%;
	.text-overflow();
}

.no-touch a.nav-icon:hover, .no-touch a.trigger:hover {
	background: @cobalt;
	color: white;
}

.no-touch .menu a:not(.no-select):hover {
	background: @cobalt-white;
}

.menu a.sidenav-note.selected, .menu a.sidenav-note.selected:hover {
	padding-left: 0px;
	background: @cobalt-light;
	color: white;
	border-left: 5px solid @cobalt;
}

.menu-main > li, .note-options > li {
	display: block;
	float: left;
	border-right: 1px solid @cobalt-soft;
}

.menu-main li.sidenav-wrapper {
	width: 60px;
	-webkit-touch-callout: none;
	.user-select(none);
}

.note-options {
	float: right;
}

.note-options > li {
	border-right: none;
	border-left: 1px solid @cobalt-soft;
}

.menu-main > li > a, .note-options > li > a {
	padding: 0 20px;
}

.menu-main > li > a > span, .note-options > li > a > span {
	padding-left: 5px;
}

.menu-main:after {
	display: table;
	clear: both;
	content: '';
}

.menu {
	border-bottom: 1px solid @cobalt-soft;
}

.menu li:not(:first-child) a, .menu li li a {
	box-shadow: inset 0 1px @cobalt-soft
}

.submenu li {
	overflow: hidden;
	height: 0;
	.transition(height 0.3s);
}

.submenu li a {
	color: @cobalt-light;
}

input.search {
	padding-left: 60px;
	outline: none;
	border: none;
	background: transparent;
	color: @cobalt;
	font-weight: 300;
	cursor: pointer;
}

/* placeholder */

.search {
	.noat-placeholder(@cobalt);
}

input.search:focus {
	cursor: text;
}

.menu-main a.icon-search {
	position: absolute;
	top: 0;
}

/* Hide these spans (there for screen reading) */
.icon-menu span, .icon-search span {
	width: 0;
	height: 0;
	display: block;
	overflow: hidden;
}

/* Menu open trigger ("hamburger") */

.trigger::before {
	margin-left: -5px;
	vertical-align: -2px;
	width: 30px;
	height: 3px;
	content: '';
	.noat-hamburger(@cobalt, white);
}

.no-touch .trigger:hover::before, .no-touch .trigger.selected:hover::before {
	.noat-hamburger(white, @cobalt);
}

.trigger.selected::before {
	.noat-hamburger(@blue, white);
}

/* Sidenav */

.sidenav {
	position: fixed;
	top: 60px;
	bottom: 0;
	overflow: hidden;
	width: 60px;
	border-top: 1px solid @cobalt-soft;
	background: white;
	.translate(-60px, 0);
	.transition-transform(~"0.3s, width 0.3s");
}

.sidenav.open-all, .sidenav.open-part {
	.translate(0, 0);
}

.sidenav.open-all {
	width: 340px;
}

.sidenav.open-all .submenu li {
	height: 60px;
}

@media screen and (max-width: 422px) { 
	.sidenav.open-all {
		.translate(0, 0);
		width: 100%;
	}

	.sidenav.open-all .scroller {
		width: 105%
	}
}

/* Scroller (Sidenav) */

.scroller {
	position: absolute;
	overflow-y: scroll;
	width: 355px;
	height: 100%;
}

/* Note */

.container {
	margin-top: 60px;
	padding: 10px;
	color: @cobalt;	
}

.note {
	padding: 15px;
	background: white;
	border-radius: 5px;
}

.note-header {
	margin-top: 0;
	border-bottom: 1px solid @cobalt-soft;
}

.note-header small {
	color: @cobalt-light;
	font-weight: 300;
	font-style: italic;
}

.note-header > * {
	margin: 0;
}

.note-favorite {
	color: @cobalt-light;
	float: right!important;
}