<!DOCTYPE html>
<html class="no-js">
<head>
	<title>Noat</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="William Gaul">

	<!-- build:css css/main.css -->
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<!-- endbuild -->
	<!-- build:js js/vendor/modernizr.js -->
	<script src="bower_components/modernizr/modernizr.js"></script>
	<!-- endbuild -->

	<link rel="apple-touch-icon" href="img/apple-touch-icon.png" />
	<base href="/">
</head>
<body ng-controller="MainController">
	<ul id="menu" class="menu-main">
		<li class="sidenav-wrapper">
			<a class="trigger icon-menu"
			   ng-class="{'selected': menuOpen}"
			   ng-mouseenter="triggerHover = true"
			   ng-mouseleave="triggerHover = false"
			   ng-click="triggerClick($event)">
				<span>{{ 'menu' | translate }}</span>
			</a>
			<nav class="sidenav"
			     ng-class="{'open-part': triggerHover, 'open-all': menuOpen}"
			     ng-mouseover="menuOver()"
			     click-off="menuClose()">
				<div class="scroller">
					<ul class="menu">
						<li class="search-item">
							<a class="icon-search no-select"><span>{{ 'search' | translate }}</span></a>
							<input placeholder="{{ 'search' | translate }}" type="search" class="search" ng-model="query">
						</li>
						<li>
							<a class="icon-{{ noteFilter }} no-select">{{ noteFilter | translate }}</a>
							<ul class="submenu">
								<li ng-repeat="note in notes | filter:filterNotes(query)">
									<a class="sidenav-note" ng-class="{'selected': note.id === selectedNote, 'icon-star': note.favorited, 'icon-star-empty': !note.favorited}" ng-click="selectNote(note.id)">{{ note.title }}</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</nav>
		</li>
		<li><a class="nav-icon icon-doc-new"><span>{{ 'new' | translate }}</span></a></li>
		<div class="note-options">
			<li><a class="nav-icon icon-edit"><span>{{ 'edit' | translate }}</span></a></li>
			<li><a class="nav-icon icon-trash"><span>{{ 'delete' | translate }}</span></a></li>
		</div>
	</ul>
	<div class="container">
		<div ng-view></div>
	</div>
	<script type="text/javascript" src="js/main.js"></script>
</body>
</html>
